Repository paparazzi/pprzlink, pull requests merged in 2023-10, with the labels that each got.

#178 [message] quadplane and moving wing state message
  message_definitions/v1.0/messages.xml
Labels: new message

#179 [messages] replace debug_i2c with debug_vect
  message_definitions/v1.0/messages.xml
Labels: new message

#174 [messages] wind_ekf
  message_definitions/v1.0/messages.xml
Labels: new message

#180 Optical flow divergence
  message_definitions/v1.0/messages.xml
Labels: enhancement

#181 clean old fixedwing messages
  message_definitions/v1.0/messages.xml
Labels: question

#182 [hitl] update messages for new HITL
  message_definitions/v1.0/messages.xml
Labels: new message
